<md-list-item class="query-task">
  <!-- TODO(archangel): split into component based on task for better metadata display -->
  <span md-list-avatar [ngSwitch]="task.progress">
    <!-- TODO(archangel): better icon display needed -->
    <md-icon md-list-avatar *ngSwitchCase="100">done</md-icon>
    <md-icon md-list-avatar *ngSwitchDefault>cached</md-icon>
  </span>
  <h4 md-line>{{task.name}}</h4>
  <pre md-line>
    <span *ngIf="task.metadata.place"><b>Place:</b> {{task.metadata.place}} |</span>
    <span *ngIf="task.metadata.date"><b>Date:</b> {{task.metadata.date}} |</span>
    <span *ngIf="task.metadata.start"><b>Start:</b> {{task.metadata.start}} |</span>
    <span *ngIf="task.metadata.stop"><b>Stop:</b> {{task.metadata.stop}} |</span>
    <span *ngIf="task.metadata.url"><b>Image:</b> <a href="{{task.metadata.url}}">Download ZIP</a> |</span>
    <span *ngIf="task.metadata.file"><b>File:</b> {{task.metadata.file}} |</span>
    <span *ngIf="task.metadata.outputFolder"><b>OutputFolder:</b> /{{task.metadata.outputFolder}} |</span>
  </pre>
  <p md-line>
    <md-progress-bar color="primary" mode="determinate" [value]="task.progress"></md-progress-bar>
  </p>
</md-list-item>
