.search-response {
  margin-top:20px;
  margin-bottom: 20px;
}

.search-bar {
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
}

.search-bar md-input {
  width: 50%;
}

.monitoring {
  margin-top: 30px;
}

.monitoring .md-tab-header {
  border-top: 1px solid #e0e0e0;
}

.monitoring .md-tab-active:not(.md-tab-body) {
  background-color: rgba(197, 202, 233, 0.3);
}

.query h3 {
  margin-top: 15px!important;
  margin-left: 20px!important;
}

.status-visual-indicator {
  width: 11px;
  height: 11px;
  margin-left: 5px;
  margin-right: 8px;
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #1B9A59;
}

.query-tasks {
  margin-top: -5px;
  margin-bottom:20px;
}

.query-task .md-list-item {
  height:55px!important;
  margin-bottom: 13px!important;
  width:70%;
}

.query-task md-icon {
  font-size: 20px;
  margin-left: 25px;
  margin-top: 10px;
}

.query-task h4 {
  font-size: 15px;
  color: #444444;
}

.query-task pre {
  padding: 12px 9px 7px!important;
  font-size: 11px!important;
  background: #ececec;
}

.query .green {
  background-color: #1B9A59!important;
  color: #fff!important;
  margin-left: 45px;
  margin-bottom: 25px;
  cursor: pointer!important;
}
